extends layout
block style
    include styles.css
block content
    div.reset
        h1 Reset Your Password for #{name}
        div.error #{error}
        form(method='POST' action="#{action}")
            label New Password for #{username}
            input.form-control(type='password', name='password', autofocus)
            label Confirm Password
            input.form-control(type='password', name='passwordConfirm')
            input(type="hidden", name="token", value='#{token}')
            input(type="hidden", name="username", value='#{username}')
            button.btn.btn-primary(type='submit') Change Password
